.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about__logo {
  display: none;
}

.header__burger {
  display: none;
}

.header__close {
  background: none;
  border: none;
  display: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding-right: 30px;
}

.header__map-title p:first-child {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.header__map-title p:last-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  border-left: 1px solid #EEEEEE;
  padding-left: 30px;
}

.header__phone p:first-child {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.header__phone p:last-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .header__bottom-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom .header__bottom-contact {
  display: none;
}
.header__bottom .button {
  padding: 14px 15px 14px 30px;
  background: #EB1616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  border: none;
  color: #fff;
  margin-right: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom .header__bottom__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  overflow: hidden;
}
.header__bottom .header__bottom__sections li {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__bottom .header__bottom__sections li:hover {
  -webkit-text-decoration: underline red 2px solid;
          text-decoration: underline red 2px solid;
}
.header__bottom .header__bottom__langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}
.header__bottom .header__bottom__langs a {
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.header__bottom .header__bottom__langs a:hover {
  color: #EB1616;
  font-size: 20px;
}

.swiper-slide {
  height: 500px;
}

.swiper {
  height: 300px;
}

.praduct__cards-title {
  text-align: center;
  margin-bottom: 27px;
}

.praduct__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.praduct__cards .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.praduct__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F9F9;
  max-width: 385px;
  max-height: 160px;
  padding: 12px 28px;
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.praduct__card-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  max-width: 385px;
  max-height: 160px;
  padding: 12px 28px;
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.praduct__card-text-white {
  display: revert;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  width: 100%;
}
.praduct__card-text-white a {
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.praduct__card-text {
  display: revert;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  width: 100%;
}
.praduct__card-text a {
  font-size: 13px;
  line-height: 22px;
  color: #EB1616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.praduct__card-text a svg {
  fill: crimson;
}

.praduct__card-btn {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: calc(100% / 3 - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 69px 105px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EB1616;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  column-gap: 10px;
  border: none;
}

.info {
  background: #000000;
}
.info .info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 67px;
     -moz-column-gap: 67px;
          column-gap: 67px;
  width: 100%;
}
.info .info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 60%;
  padding: 40px 0;
}
.info .info__left-text {
  color: #ffffff;
  width: 100%;
}
.info .info__left-futer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.info .info__left-futer button {
  padding: 15px 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.info .info__left-futer button:hover {
  background: #e2dddd;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.info .info__left-futer a {
  color: #EB1616;
  border-bottom: 2px solid red;
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.info .info__right img {
  display: block;
}

.contacts {
  margin: 40px auto;
}
.contacts .contacts__info {
  width: 1192px;
  margin: 0px auto;
  padding: 31px 33px 31px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  background-image: url(../imag/slayd-1.png);
  position: relative;
}
.contacts .contacts__info.contacts__info::before {
  content: "";
  background: rgba(255, 21, 21, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.contacts .contacts__info .contacts__job-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
.contacts .contacts__info .contacts__job-time img {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  z-index: 2;
}
.contacts .contacts__info .contacts__job-time span {
  font-weight: 500;
  font-size: 80px;
  line-height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  z-index: 2;
}
.contacts .contacts__info .contacts__adrress-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 96px;
     -moz-column-gap: 96px;
          column-gap: 96px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
}
.contacts .contacts__info .contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  z-index: 2;
}
.contacts .contacts__info .cotacts__phone-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  z-index: 2;
}
.contacts .contacts__info .contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  z-index: 2;
}
.contacts .contacts__info .contacts__map-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  z-index: 2;
}

.futer {
  background: #000000;
}
.futer .futer__cotainer {
  width: 100%;
  padding: 33px 13px 36px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.futer .futer__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.futer .futer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.futer .futer__left a {
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.futer .fiter__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.futer .fiter__about a {
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.futer .futer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.futer .futer__logo .futer__logo-messenge-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.futer .futer__right-content {
  color: #fff;
}
.futer .futer__right-content .futer__right {
  row-gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.futer .futer__right-content .futer__right-phon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.futer .futer__right-content .futer__right-phon .futer__right__phon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 198px;
}
.futer .futer__right-content .futer__right-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.futer .futer__right-content .futer__right-map .futer__right__map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.futer .futer__right-content .futer__right-map .futer__right__map-box p:last-child {
  max-width: 197px;
}
.futer .futer__bottom {
  text-transform: uppercase;
  border-top: 1px solid #121212;
}
.futer .futer__bottom .futer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.futer .futer__bottom .futer__bottom-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.futer .futer__bottom span:first-child {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #828282;
}
.futer .p {
  color: #828282;
  font-size: 13px;
  line-height: 23px;
}
.futer .futer__bottom span:last-of-type {
  font-size: 15px;
  line-height: 25px;
  color: #828282;
}
.futer .p2 {
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.more-info {
  background: #E5E5E5;
  padding: 40px 0 32px 0;
  position: relative;
}
.more-info .more-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.more-info .more-info-container .more-info-left {
  width: 25%;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.more-info .more-info-container .more-info-left .more-info-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.more-info .more-info-container .more-info-left li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 15px;
}
.more-info .more-info-container .more-info-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  row-gap: 20px;
  position: relative;
  background: #fff;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container {
  padding: 25px 23px 60px 30px;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .more-info-container h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .middle-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .middle-text h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .middle-text p {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .table-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.more-info .more-info-container .more-info-middle .more__info-middle-container .table-card p {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.more-info .more-info-container .image-card img {
  width: 529px;
  height: 350px;
}
.more-info .more-info-container .more-info-right {
  background: #fff;
  height: 1088px;
  width: 25% px;
}
.more-info .more-info-container .more-info-right .right__praducts-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
}
.more-info .more-info-container .more-info-right .right__praducts-card .righte__cards-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.more-info .more-info-container .more-info-right .praduc-cards a {
  color: red;
}
.more-info .more-info-container .more-info-right .praduc-cards {
  width: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  border-bottom: 1px solid #EBEBEB;
}
.more-info .more-info-container .more-info-right .praduc-cards .praduc-card-title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3px;
}
.more-info .more-info-container .more-info-right .praduc-cards .praduc-card-title-btn .praduct-card__info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #EB1616;
}
.more-info .more-info-container .more-info-right .praduc-cards .praduc-card-title-btn .praduct-card__info-btn a {
  margin-right: 66px;
}

@media screen and (max-width: 1250px) {
  .praduct__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F9F9F9;
    max-width: 385px;
    max-height: 160px;
    padding: 12px 28px;
    width: calc(100% / 2);
    margin: 5px;
  }

  .praduct__card-black {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000000;
    max-width: 385px;
    max-height: 160px;
    padding: 12px 28px;
    width: calc(100% / 2);
    margin: 5px;
  }

  .praduct__card-btn {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    width: calc(100% / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 69px 105px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #EB1616;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: none;
  }
}